body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #faf9f9;
  color: #060606;
  font-size: 18px;
}

.main-title {
  font-size: 85px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  padding: 3%;
  text-shadow: 2px 2px #C1C1C1;
}

/* Large Jumbotron at top of page. */
.large-image {
  text-align: center;
}

.container {
  box-shadow: 3px 3px 20px rgba(0,0,0,0.6);
}

/* Three boxes split into thirds at bottom of page. */
.grid-fourths {
  text-align: center;
  padding: 1%;
}

/* Box to the left of the grid */
.gif-box {
  background-color: #aed6a1;
  padding: 0;
}

.gif {
  width: 100%;
  height: auto;
}

/* Box in the middle of the grid */
.clock-box {
  width: 100%;
  height: auto;
  background-color: #aed6a1;
  color: white;
  padding-top: 10%;
  font-size: 60px;
  font-family: 'Orbitron', sans-serif;
}

/* Box to the right of the grid */
.bulletin-box {
  background-color: #f1aeb5;
}

.bulletin-text {
  color: white;
  font-size: 38px;
  margin-top: 40%;
  font-family: 'Indie Flower', cursive;
}

.instagram-box {
  background-color: #d6eaf8;
  color: white;
  padding: 0
}

.instagram-photo {
  width: 100%;
  height: auto;
}

.btn {
  border-radius: 0;
}

.garnet {
    background-color: #990012;
}

.red {
    background-color: #E3120B;
}

.purple {
    background-color: #D57BE7
}

.aqua {
    background-color: #7fffd4;
}

.yellow {
    background-color: #E3D30B;
    text-color: #FFFFFF;
}

.green {
    background-color: #0BE36A;
}

.orange {
    background-color: #E3770B;
}

.blue {
    background-color: #0B9EE3;
}

.brown {
    background-color: #A68652;
}

.violet {
    background-color: #D474F2;
}
