body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #faf9f9;
  color: #060606;
  font-size: 18px;
}

.header {
  box-shadow: 3px 3px 12px rgba(0,0,0,0.2);
}

.main-title {
  font-size: 85px;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  padding: 2%;
  text-shadow: 2px 2px #C1C1C1;
}

/* Large Jumbotron at top of page. */
.large-image {
  text-align: center;
}

.container {
  box-shadow: 3px 3px 20px rgba(0,0,0,0.6);
}

/* Four boxes on the screen. */
.grid-fourths {
  text-align: center;
  padding: 1%;
}

.gif-box {
  background-color: #aed6a1;
  padding: 0;
}

.gif {
  width: 100%;
  height: auto;
}

.clock-box {
  width: 100%;
  height: 35vh;
  background-color: #aed6a1;
  color: white;
  padding: 10% 2% 2% 2%;
  font-size: 60px;
  font-family: 'Orbitron', sans-serif;
}

.bulletin-box {
  background-color: #f1aeb5;
}

.bulletin-text {
  color: white;
  font-size: 38px;
  margin: 20% 1% 20% 1%;
  font-family: 'Indie Flower', cursive;
}

.instagram-box {
  background-color: #d6eaf8;
  color: white;
  padding: 0
}

.instagram-photo {
  width: 100%;
  height: auto;
}

.btn {
  border-radius: 0;
}

.garnet {
    background-color: #990012;
}

.red {
    background-color: #E3120B;
}

.purple {
    background-color: #D57BE7
}

.aqua {
    background-color: #7fffd4;
}

.yellow {
    background-color: #E3D30B;
    text-color: #FFFFFF;
}

.green {
    background-color: #0BE36A;
}

.orange {
    background-color: #E3770B;
}

.blue {
    background-color: #0B9EE3;
}

.brown {
    background-color: #A68652;
}

.violet {
    background-color: #D474F2;
}

/* Tablet version */
@media screen and (min-width: 750px) {

  .clock-box {
    padding: 5% 3% 0 3%;
    font-size: 50px;
    height: auto;
  }

}

/* Desktop version */
@media screen and (min-width: 1020px) {

  .clock-box {
    padding-top: 10%;
  }

  .bulletin-text {
    margin: 40% 1% 20% 1%;
  }

}
