<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>Smart Park Project - Magic City Hacks</title>

  <!-- Adding in Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Orbitron|Ubuntu" rel="stylesheet">

  <!-- Setting the viewport for responsiveness -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Linking CSS Stylesheet -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

  <h2>Smart Park! Yay!</h2>

</body>

</html>
